<div class="mini-submenu" style="display:show">
  <i class="fa fa-search fa-5x pull-right"></i>
</div>
<div class="list-group" style="display:none">
  <span class="list-group-item active">
    Browse Urls
    <span class="pull-right" id="slide-submenu">
      <i class="fa fa-times"></i>
    </span>
  </span>
  <span class="list-group-item nav-icons"> <a href="/urls"><%= icon('list') %> View All</a></span>
  <span class="list-group-item nav-icons"> <a href="/urls?sort=most-recent"><%= icon('clock-o') %> Sort By Most Recent </a></span>
  <span class="list-group-item nav-icons"> <a href="/urls?sort=popularity"><%= icon('line-chart') %> Sort By Popularity</a></span>
</div>



<script>
$("#text_box").keyup(function() {
  $("li").hide();
  var term = $(this).val();
  $("li:contains('"+ term +"')").show();
});
</script>


<script>
$('.mini-submenu').show();
$(function(){

  $('.mini-submenu').on('click',function(){
    $(this).next('.list-group').toggle('slide');
    $('.mini-submenu').hide();
  })
})

$('#slide-submenu').on('click',function() {
  $(this).closest('.list-group').fadeOut('slide',function(){
    $('.mini-submenu').fadeIn();
  });

});


</script>
