
h1 {
  font-size: 120px;
  margin-top: 50px;
}

.link-text {
 color: #dc6312;
 font-size: 30px;
}

body {
  font-family: 'Lobster', cursive;
  background: rgba(21, 193, 220, 0.4);
}

.inner-well {
  background: black;
}

input#original_url {
  border-radius: 25px;
  margin-bottom: 100px;
}

.form {
  align: center;
  margin-left: 50px;
}

.display-links {
  padding-left: 50px;
}

input#url_original_url {
  border-radius: 25px;
  padding: 6px;
  outline: none;
}

.btn {
  border-radius: 25px;
  background: rgba(209, 85, 233, 0.72);
  outline: none;
  border: none;
  padding: 6px;
}

.btn:hover {
    color: white;
  }

#text_box {
  margin-top: 5px;
  border-radius: 25px;
  padding: 6px;
  border: solid 2px #38d5fb;
  outline: none;
  margin-left: 37px;
}

li {
  list-style: none;
  color: #38d5fb;
  font-size: 15px;
}

a:hover {
  color: #38d5fb;
  text-decoration: none;
}

a {
  color: white;
}

.font-icon {
  color: #ff925c;
}


.url-list {
  background: black;
}

#url-title {
  margin-top: 20px;
}

.mini-submenu{
  display:none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.search-bubble {
  background: black;
}

#new_url {
  margin-top: 150px;
}

.octo {
  margin-top: 0px;
}

#search-dropdown {
  margin-top: 85px;
}

.list-group-item {
  background: #38d5fb;
  a {
    color: black;
  }
}

span.list-group-item.active {
  background: #ff925c;
  border: black;
  font-size: 22px;
}
