
h1 {
  font-size: 70px;
}

h2 {
 color: #dc6312;
}

.welcome-header {
  padding: 100px;
}

body {
  font-family: 'Lobster', cursive;
  background: rgba(21, 193, 220, 0.4);
}

.inner-well {
  background: black;
}

input#original_url {
  border-radius: 25px;
  margin-bottom: 100px;
}

.form {
  align: center;
  margin-left: 50px;
}

.display-links {
  padding-left: 50px;
}

input#url_original_url {
  border-radius: 25px;
  padding: 6px;
  outline: none;
}

.btn {
  border-radius: 25px;
}

#text_box {
  margin-top: 5px;
  margin-right: 25px;
  border-radius: 25px;
  padding: 6px;
  border: solid 2px #38d5fb;
  outline: none;
}

li {
  list-style: none;
  color: #38d5fb;
  font-size: 15px;
}

a:hover {
  color: #38d5fb;
  text-decoration: none;
}

a {
  color: white;
}

.font-icon {
  color: #ff925c;
}

.create-shortened-url {
  padding: 50px;
}

.url-list {
  background: black;
}

#url-title {
  margin-top: 20px;
}
